@using Microsoft.AspNetCore.Http
@using DataAccess.Repository
@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/css/IndexStyle.css">

</head>
<body>
    
<!-- header section starts  -->

@* <header class="header">

    <section class="flex">

        <a href="#" class="logo"> <i class="fas fa-paw"></i> shop </a>

        <nav class="navbar">
            <a href="#home">home</a>
            <a href="#about">about</a>
            <a asp-action="Main" asp-controller="Products">shop</a>
            <a href="#services">services</a>
            <a href="#contact">contact</a>
        </nav>
    
        <div class="icons">
            <div class="fas fa-bars" id="menu-btn"></div>
            <a href="#" class="fas fa-shopping-cart"></a>
            <div class="fas fa-user" id="login-btn"></div>
        </div>
            @{
                @if (ViewBag.UserId == null)
                {
                    <form asp-action="Index" method="post" class="login-form">
                        <h3>Sign In</h3>
                        <input asp-for="Email" type="email" placeholder="Enter your email" class="box">
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <input asp-for="Password" type="password" placeholder="Enter your password" class="box">
                        <span asp-validation-for="Password" class="text-danger"></span>

                        <button type="submit" class="btn">Sign In</button>
                        <div class="links">
                            <a href="#">Forget Password</a>
                        </div>
                        <div class="links">
                            <a asp-controller="Access" asp-action="Register">Sign Up</a>
                        </div>
                    </form>
                }
                else
                {
                    <form asp-action="Index" method="get" class="login-form">
                        <h3>Welcome @ViewBag.UserName</h3>
                    <div class="links">
                        <a asp-controller="User" asp-action="Profile" asp-route-id="@ViewBag.UserId">Profile</a><br/>
                        <a asp-controller="Access" asp-action="Logout" method="get">Log out</a>
                        </div>
                    </form>
                }
            }

    </section>

</header> *@

<!-- header section ends -->

<!-- home section starts  -->

<div class="home" id="home">

    <section class="flex">
        <div class="content">
            <h3> <span>hi</span> welcome to our pet shop </h3>
            <a href="#" class="btn">shop now</a>
        </div>
    </section>

    <img src="/image/bottom_wave.png" class="wave" alt="">

</div>

<!-- home section ends -->

<!-- services section starts  -->

<section class="services" id="services">

    <h1 class="heading"> our <span>services</span> </h1>

    <div class="box-container">

        <div class="box">
            <i class="fas fa-dog"></i>
            <h3>dog boarding</h3>
            <a href="#" class="btn">read more</a>
        </div>

        <div class="box">
            <i class="fas fa-cat"></i>
            <h3>cat boarding</h3>
            <a href="#" class="btn">read more</a>
        </div>

        <div class="box">
            <i class="fas fa-bath"></i>
            <h3>spa & grooming</h3>
            <a href="#" class="btn">read more</a>
        </div>

        <div class="box">
            <i class="fas fa-drumstick-bite"></i>
            <h3>healthy meal</h3>
            <a href="#" class="btn">read more</a>
        </div>

        <div class="box">
            <i class="fas fa-baseball-ball"></i>
            <h3>activity exercise</h3>
            <a href="#" class="btn">read more</a>
        </div>

        <div class="box">
            <i class="fas fa-heartbeat"></i>
            <h3>health care</h3>
            <a href="#" class="btn">read more</a>
        </div>

    </div>

</section>

<!-- services section ends -->


<!-- about section starts  -->

<section class="about" id="about">

    <div class="image">
        <img src="/image/about_img.png" alt="">
    </div>

    <div class="content">
        <h3>premium <span>pet food</span> manufacturer</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum sint, dolore perspiciatis iure consequuntur eligendi quaerat vitae shaikh anas.</p>
        <a href="#" class="btn">read more</a>
    </div>

</section>

<!-- about section ends -->

 
<!-- dog and cat food banner section starts -->

<section class="dog-food">

    <div class="image">
        <img src="/image/dog_food.png" alt="">
    </div>

    <div class="content">
        <h3> <span>air dried</span> dog food </h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat iure illo, repudiandae rem porro sunt.</p>
        <div class="amount">$15.00 - $30.00</div>
        <a href="#"> <img src="/image/shop_now_dog.png" alt=""> </a>
    </div>

</section>

<section class="cat-food">

    <div class="content">
        <h3> <span>air dried</span> cat food </h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat iure illo, repudiandae rem porro sunt.</p>
        <div class="amount">$15.00 - $30.00</div>
        <a href="#"> <img src="/image/shop_now_cat.png" alt=""> </a>
    </div>

    <div class="image">
        <img src="/image/cat_food.png" alt="">
    </div>

</section>
<!-- dog and cat food banner section ends -->





<!-- shop section starts  -->

<section class="shop" id="shop">

    <h1 class="heading"> our <span> products </span> </h1>

    <div class="box-container">

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="/image/product_01.jpg" alt="">
            </div>
            <div class="content">
                <h3>air-dried food</h3>
                <div class="amount"> $15.00 - $30.00 </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="/image/product_02.jpg" alt="">
            </div>
            <div class="content">
                <h3>air-dried food</h3>
                <div class="amount"> $15.00 - $30.00 </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="/image/product_03.jpg" alt="">
            </div>
            <div class="content">
                <h3>air-dried food</h3>
                <div class="amount"> $15.00 - $30.00 </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="/image/product_04.jpg" alt="">
            </div>
            <div class="content">
                <h3>air-dried food</h3>
                <div class="amount"> $15.00 - $30.00 </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="/image/product_05.jpg" alt="">
            </div>
            <div class="content">
                <h3>air-dried food</h3>
                <div class="amount"> $15.00 - $30.00 </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="/image/product_06.jpg" alt="">
            </div>
            <div class="content">
                <h3>air-dried food</h3>
                <div class="amount"> $15.00 - $30.00 </div>
            </div>
        </div>

    </div>

</section>

<!-- shop section ends -->



<section class="contact" id="contact">

    <div class="image">
        <img src="/image/contact_img.png" alt="">
    </div>

    <form action="">
        <h3>contact us</h3>
        <input type="text" placeholder="your name" class="box">
        <input type="email" placeholder="your email" class="box">
        <input type="tumber" placeholder="your number" class="box">
        <textarea name="" placeholder="your message" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="send message" class="btn">
    </form>

</section>

<footer class="footer">

    <img src="/image/top_wave.png" alt="">

    <div class="share">
        <a href="#" class="btn"> <i class="fab fa-facebook-f"></i> facebook </a>
        <a href="#" class="btn"> <i class="fab fa-twitter"></i> twitter </a>
        <a href="#" class="btn"> <i class="fab fa-instagram"></i> instagram </a>
        <a href="#" class="btn"> <i class="fab fa-linkedin"></i> linkedin </a>
        <a href="#" class="btn"> <i class="fab fa-pinterest"></i> pinterest </a>
    </div>

    <div class="credit"> 2024 created by <span> Group 8 </span> | all rights reserved! </div>

</footer>




















<!-- custom js file link  -->
<script src="/js/script.js"></script>

</body>
</html>