@model DataObject.User
@{
    Layout = null;
}
@{
    @if (ViewBag.UserId == null)
    {
        <form asp-action="Index" method="post" class="login-form">
            <h3>Sign In</h3>
            <input asp-for="Email" type="email" placeholder="Enter your email" class="box">
            <span asp-validation-for="Email" class="text-danger"></span>
            <input asp-for="Password" type="password" placeholder="Enter your password" class="box">
            <span asp-validation-for="Password" class="text-danger"></span>

            <button type="submit" class="btn">Sign In</button>
            <div class="links">
                <a href="#">Forget Password</a>
            </div>
            <div class="links">
                <a asp-controller="Access" asp-action="Register">Sign Up</a>
            </div>
        </form>
    }
    else
    {
        <form asp-action="Index" method="get" class="login-form">
            <h3>Welcome @ViewBag.UserName</h3>
            <div class="links">
                <a asp-controller="User" asp-action="Profile" asp-route-id="@ViewBag.UserId">Profile</a><br />
                <a asp-controller="Access" asp-action="Logout" method="get">Log out</a>
            </div>
        </form>
    }
}